<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scanner.pdfscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:debuggable="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.scanner.pdfscanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity android:name=".activity.HomeActivity" />
        <activity
            android:name=".activity.FilterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>
        <activity
            android:name=".activity.CameraActivity"

            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".activity.ScannerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".activity.MyHomeAcitivty"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.NoteGroupActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/ToolbarTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.PreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.MyHomeAcitivty"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".activity.ViewPagerActivity" />
        <activity
            android:name=".activity.DetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.Crop"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <activity
            android:name=".activity.Splash"
            android:allowBackup="true"
            android:icon="@drawable/scanner_icon"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <receiver
            android:name=".CameraReciver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />

            </intent-filter>
        </receiver>
    </application>

</manifest>